fieldset {
    display: flex;
    align-items: center;
    flex-direction: row;
    border: none;
    background: transparent;
    gap: 1vw;
}

#description {
    font-size: 1.7rem;
    text-align: center;
    padding-bottom: 3vh;
}

#firstImageButton {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 5vh;
    border: none;
    background: transparent;
}

#firstImageButton img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    background: transparent;
}
#secondImageButton {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 5vh;
    border: none;
    background: transparent;
}

#secondImageButton img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    background: transparent;
}

#firstImageDescription {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 3vh;
    border: none;
    background: transparent;
    text-align: center;
    font-size: 1.5rem;
}

#secondImageDescription {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 3vh;
    border: none;
    background: transparent;
    text-align: center;
    font-size: 1.5rem;
}
#footerIcons {
    text-decoration: none;
    color: rgb(2, 78, 55);
}
#progressBar {
    width: 100%;
    height: 10px;
    background-color: #e68003;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.animateCorrect {
    animation: bounce 0.5s ease-in-out;
    background: transparent;
}

.animateWrong{
    animation: bounce 0.5s ease-in-out;
    background: transparent;
}

@keyframes bounce {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

#gameContainer {
    width: 100%;
    overflow-x: hidden;
}

#sloganContainer {
    width: 100%;
    overflow-x: hidden;
    margin-top: 1vh;
    padding: 3%;
}

@media (max-width: 991px) {
#sloganContainer {
    width: 100%;
    overflow-x: hidden;
    margin-top: 2vh;
    padding: 3%;
}
}