.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.card {
    margin-bottom: 10px;
    margin-top: 10px;
}

.card a{
    text-decoration: none;
    color: #005a00;
}